:root {
    --background-color: white;
    --secondary-background-color: gainsboro;
    --primary-color: darkslategrey;
    --text-color: black;
    --border-color: grey;
    --code-background-color: #e0e0e0;
    --code-border-color: #808080;
    --margin: 20vw;
    --margin2: 15px;
    --mobile-nav-height: 200px;
    --mobile-nav-color: gainsboro;
}

/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: var(--margin) auto var(--margin);
    grid-template-rows:
        [navbar] minmax(15vw, auto)
        [header] minmax(5vh, auto)
        [content] auto
        [footer] 25vh;
    grid-template-areas:
        "navbar navbar navbar"
        "header header header"
        ". content sidebar"
        ". footer ."
}
@media screen and (max-width: 900px) {
    .grid-container {
        grid-template-columns: 5vh auto 5vh;
    }
}
nav {
    grid-area: navbar;
}
header {
    grid-area: header;
}
section.tags {
    grid-area: sidebar;
}
section {
    grid-area: content;
}
section.posts {
    grid-area: content;
}
footer {
    grid-area: footer;
    align-self: end;
}

/* Generic elements */
html {
    scroll-behavior: smooth;
    background-color: var(--mobile-nav-color);
}
body {
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    transition: transform 0.5s;
    background-color: var(--background-color);
}
header {
    align-self: top;
}
section.tags {
    text-align: left;
    margin-right: var(--margin2);
    margin-left: var(--margin2);
}
section.tags > h4 {
    border-bottom: 1px solid var(--border-color);
}
nav {
    background-color: var(--background-color);
    font-size: 24px;
}
code {
    background-color: var(--code-background-color);
    font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 2px 3px 2px 3px;
}
pre > code {
    display: block;
    border: 1px solid var(--code-border-color);
    padding: 8px 5px 8px 5px;
}
strong {
    color: var(--text-color);
}
.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.hide {
    display: none;
}
@media screen and (max-width: 1023px) {
    button.menu-trigger {
        display: block;
    }
    body.show-nav {
        transform: translateY(var(--mobile-nav-height));
    }
    .nav-list {
        display: block;
        position: absolute;
        top: calc(-1 * var(--mobile-nav-height));
        text-align: left;
    }
    .nav-list > li {
        margin: 1.0rem 0.5rem;
        box-sizing: border-box;
    }
}
@media screen and (min-width: 1024px) {
    body.show-nav {
        transform: translateY(0);
    }
    .nav-list {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }
    button.menu-trigger {
        display: none;
    }
}
button.menu-trigger {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    outline: none;
    border: none;
}
button::-moz-focus-inner {
    border:0;
}
.material-icons.md-36 {
    font-size: 36px;
}

.nav-list {
}
.nav-link {
    color: var(--text-color);
    text-decoration-line: none;
    margin: 1em;
}
.nav-link:hover {
    color: var(--primary-color);
}
.no-bullets {
    list-style-type: none;
    padding: 0;
}
.tag-list > li {
    padding: 0.2rem 1rem 0.2rem 1rem;
}
.blog-card {
    box-sizing: border-box;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 0vh;
    margin-right: 0vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border-bottom: 1px solid var(--border-color);
    text-align: left;
}
.blog-post {
    text-align: left;
}
.header-link {
    color: var(--primary-color);
    text-decoration-line: none;
}
.header-link:hover {
    color: var(--text-color);
}
.in-text-link {
    color: var(--primary-color);
    text-decoration-line: none;
}
.in-text-link:hover {
    text-decoration-line: underline;
}
