<!DOCTYPE html>
<html lang="en">
<head>
	<meta content-type="text/html" charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	{%- block meta %}{% endblock meta %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	{%- block styles %}{% endblock styles %}
	<title>
		{%- block title %}{% endblock title %}
		{%- if self.title() %} - {% endif -%}
		kevinwmatthews.com
	</title>
	{%- block deferred_scripts %}{% endblock deferred_scripts %}
</head>
<body>
	<div class="grid-container">
	{%- block navbar %}{% endblock navbar %}
	{%- block header %}{% endblock header %}
	{%- block content %}{% endblock content %}
	<footer>
		{%- block footer %}{% endblock footer %}
		<p class="footnote">&copy;2018 by Kevin Matthews</p>
	</footer>
	</div>
</body>
</html>
