{% extends "base.html" %}

{% block title %}About Me{% endblock title %}

{% block styles %}{% endblock styles %}

{% block navbar %}
	{% include '_blog_navbar.html' %}
{% endblock navbar %}

{% block header %}
{%- endblock header %}

{% block content %}
	<section>
		<article class="blog-post">
			<h1>Hello, I'm Kevin.</h1>
			<p>I write embedded software professionally and web
				applications on the side.</p>
			<p>Most of my daily work is in C and Python but I've used and studied C++,
				Ruby, JavaScript, and a little bit of Rust.</p>
			<p>I'm hooked on fast feedback loops, automated tests, and solutions
				that are designed to evolve.</p>
			<p>I strive to craft thoughtful, clean, testable code because I like to
			be proud of what I deploy.</p>
			<p>I'll do it but I love to do it well.</p>
		</article>
	</section>
{% endblock content %}

{%- block footer %}{%- endblock footer %}
